@using uNeed.Models.Entity
@model List<OrderDetails>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
        </div>
    </section>

    <div class="container mb-4">
        @using (Html.BeginForm("ConfirmOrder", "Product", FormMethod.Post))
        {
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Available</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-right">Price</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var el in Model)
                                {
                                    <tr>
                                        <td><div><img src="~/wwwroot/images/home/@el.Product.Picture" style="width:50px; height:50px" /></div> </td>
                                        <td>@el.Product.ProductName</td>
                                        <td>In stock</td>
                                        <td >

                                            <div class="container">
                                                <div class="input-group d-flex center-block row" style="width:auto;" >
                                                    <div class="input-group-btn col-4" >
                                                        <a href="/product/reduceProductInCart/@el.ProductID" class="btn btn-light" ><i class="fas fa-minus-square"></i></a>
                                                    </div>
                                                    <label class="label label-info ">@el.Quantity</label>
                                                    <div class="input-group-btn col-4">
                                                        <a href="/product/addToCart/@el.ProductID" class="btn btn-light" ><i class="fas fa-plus-square"></i></a>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td class="text-right">@el.Price €</td>
                                        <td class="text-right"><a href="/product/deleteFromCart/@el.ProductID" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a> </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <a href="/product/list" class="btn btn-block btn-light">Continue Shopping</a>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="~/wwwroot/js/cart.js"></script>
</body>
</html>
